/* Estrutura do corpo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:var(--bg--url) no-repeat top center/cover;
    height: 100vh;
}
body *{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    color: var(--text-color);
}

/* link */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border:1.5px solid var(--text-color);
}
/* Rodapé  */
footer{
    padding: 24px 0 ;
    text-align: center;
}
/* Caixa e link(hover)*/
#container{
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
#profile {
    text-align: center;
    padding: 24px;
}
#profile img{
    width: 112px;
}
#profile p{
    font-weight: 500;
    line-height: 24px;
}
#link-social{
    display: flex;
    justify-content: center;
    padding:24px 0 ;
    font-size: 24px;
}
#link-social a:hover{
    background: var(--highlight-color);
    padding: 16px;

}
#link-social a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        transition: background 0.2s;
        border-radius:50%;
}
/* Padrão(moon)*/
:root{
    --text-color:white;
    --bg--url:url(./assets/bg-mobile.jpg);
    --stoker-color: rgba(255,255,255,0.5);
    --surface-color: rgba(255,255,255,0.1);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(255,255,255,0.2);
    --switch-bg-url:url(./assets/moon.svg)

}
/* padrão (sun) */
.ligth{
    
    --text-color: black;
    --bg--url:url(./assets/bg-mobile-light.jpg);
    --stoker-color: rgba(0,0,0,0.5);
    --surface-color: rgba(0,0,0,0.05);
    --surface-color-hover: rgba(0,0,0,0.02);
    --highlight-color: rgba(0,0,0,0.1);
    --switch-bg-url:url(./assets/sun.svg)
    
}
/* Botão moon sun (hover) */
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    animation: slide-back 0.4s forwards;
}
#switch button:hover{
    outline: 8px solid var(--highlight-color);
}
.ligth #switch button{
    animation:slide-in 0.4s forwards;
}
#switch span{
    display: block;
    border-radius: 9999px;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stoker-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
/* Img ambos */
@media (min-width:700px){
    :root{
        --bg-url:url(./assets/bg-desktop.jpg)
    }
    .ligth{
        --bg-url:url(./assets/bg-desktop-ligth.jpg)
    }
}
/* slide ida e volta (animação)*/

@keyframes slide-in{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes slide-back{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
/*       */